<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="template1" >
<head>
    <meta charset="UTF-8">
    <title>List of students</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">


</head>
<body>

    <div layout:fragment="content1">


            <div class="container-sm mt-10">
                <h1>Student database </h1>
                <form method="post" th:action="@{/create}">
                    <div class="row mb-3">
                        <label for="name" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" autocomplete="off" class="form-control" name="name" th:value="${student.name}" id="name">
                            <span class="text-danger" th:errors="${student.name}"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="birthDate" class="col-sm-2 col-form-label">Birth date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" name="birthDate" th:value="${student.birthDate}" id="birthDate">
                            <span class="text-danger" th:errors="${student.birthDate}"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="score" class="col-sm-2 col-form-label">Score</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="rank" th:value="${student.rank}" id="score">
                            <span class="text-danger" th:errors="${student.rank}"></span>

                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="graduated" class="col-sm-2 col-form-label form-check-label">graduated</label>
                        <div class="col-sm-10">
                            <div class="form-check">

                                <input type="checkbox" th:checked="${student.graduated}" name="graduated" class="form-check-input" id="graduated">
                                <span class="text-danger" th:errors="${student.graduated}"></span>

                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary">Create Account</button>
                </form>


            </div>

    </div>



</body>
</html>